<div class="columns is-centered">
  <div class="column is-one-third">
    <div class="box"> 
      <h1 class="title is-5 has-background-info has-text-centered has-text-white"> Log In </h1>
        <%= form_for @user, url: users_sign_in_action_path do |f| %>
          <div class="flex-centered">
            <%= f.label :username, class: 'tag is-large' %>
            <%= f.text_field :username, class: 'input m-ud' %>
            <%= f.submit "Log in", class: 'button is-primary m-ud' %>
          </div>
        <% end %>
    </div> 
  </div> 
</div> 
