<h1>Attendees List</h1>

<ul>
  <% @attendees.each do |attendee| %>
    <li> <%= attendee.username %> </li>
  <% end %>
</ul>

<h1>users</h1>

<% @users.each do |user| %>
  <li> <%= user.username %> </li>
<% end %>


<%= link_to "Home", root_path %>
